@page
@model VINES.Pages.Account.RegistrationModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Registration";
    Layout = null;
}

@if (User.Identity.IsAuthenticated == false)
{
<!-- Registration -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="~/loginAssets/fonts/icomoon/style.css">


    <link rel="stylesheet" href="~/loginAssets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/loginAssets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/loginAssets/css/style.css">


    <title>VINES - Create New Account</title>
</head>
  <body>



      <div class="content">
          <div class="container">
              <div class="row justify-content-center">
                  <!-- <div class="col-md-6 order-md-2">
                  <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div> -->
                  <div class="col-md-6 contents">
                      <div class="row justify-content-center">
                          <div class="col-md-12">
                              <div class="form-block">
                                  <div class="mb-4">
                                      <h3><strong>Sign Up</strong></h3>
                                      <p class="mb-4" style="color:black">It's quick and easy.</p>
                                  </div>
                                  <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                      @Html.ValidationMessage("Error", new { @style = "color:red" })
                                      @Html.ValidationMessage("Success", new { @style = "color:green" })
                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.firstName" style="color:black">First Name</label>
                                          <br />
                                          <br />
                                          <input type="text" class="form-control" asp-for="Input.firstName" required>
                                          <span asp-validation-for="Input.firstName" class="text-danger"></span>

                                      </div>

                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.middleName" style="color:black">Middle Name</label>
                                          <br />
                                          <br />
                                          <input type="text" class="form-control" asp-for="Input.middleName">
                                          <span asp-validation-for="Input.middleName" class="text-danger"></span>
                                      </div>

                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.lastName" style="color:black">Last Name</label>
                                          <br />
                                          <br />
                                          <input type="text" class="form-control" asp-for="Input.lastName" required>
                                          <span asp-validation-for="Input.lastName" class="text-danger"></span>

                                      </div>

                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.contactNumber" style="color:black">Contact Number</label>
                                          <br />
                                          <br />
                                          <input type="tel" class="form-control" asp-for="Input.contactNumber" min="11" max="11">
                                          <span asp-validation-for="Input.contactNumber" class="text-danger"></span>
                                      </div>


                                      <!--  ===== ADD Gender Drop down ==== -->
                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.gender" style="color:black">Gender</label>
                                          <br />
                                          <br />
                                          <select asp-for="Input.gender">
                                              @foreach (var genders in Model.genders)
                                              {
                                                  <option value="@genders.genderID">@genders.gender</option>
                                              }

                                          </select>

                                      </div>
                                      
                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.dateOfBirth" style="color:black">Date of Birth</label>
                                          <br />
                                          <br />
                                          <input type="date" class="form-control" asp-for="Input.dateOfBirth" max="@DateTime.Today.ToString("yyyy'-'MM'-'dd")" required>
                                          <span asp-validation-for="Input.dateOfBirth" class="text-danger"></span>

                                      </div>
                                      <div class="form-group first">
                                          <label asp-for="Input.email" style="color:black">Email</label>
                                          <br />
                                          <br />
                                          <input type="text" class="form-control" asp-for="Input.email" required>
                                          <span asp-validation-for="Input.email" class="text-danger"></span>

                                      </div>
                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.password" style="color:black">Password</label>
                                          <input type="password" class="form-control" asp-for="Input.password" required>
                                          <span asp-validation-for="Input.password" class="text-danger"></span>

                                      </div>
                                      <div class="form-group last mb-4">
                                          <label asp-for="Input.confirmPassword" style="color:black">Confirm Password</label>
                                          <input type="password" class="form-control" asp-for="Input.confirmPassword" required />
                                          <span asp-validation-for="Input.confirmPassword" class="text-danger"></span>
                                      </div>

                                      <input type="submit" value="Create New Account" class="btn btn-pill text-white btn-block btn-primary">
                                  </form>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
      </div>
      <script src="~/loginAssets/js/jquery-3.3.1.min.js"></script>
      <script src="~/loginAssets/js/popper.min.js"></script>
      <script src="~/loginAssets/js/bootstrap.min.js"></script>
      <script src="~/loginAssets/js/main.js"></script>


  </body>
</html> <!-- end of login template -->

@section Scripts {
    <partial name ="_ValidationScriptsPartial" />
}
}
else{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient")) {
        
        Response.Redirect("/patientLanding");
    }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser")) {
        
        Response.Redirect("/advertiserLanding");
    }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        Response.Redirect("/adminLanding");
    }
}
