@page
@model VINES.Pages.Forums.IndexModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Forum Post";
}

@if ((await AuthorizationService.AuthorizeAsync(User, "PatientOnly")).Succeeded)
{
    <div class="blog-page area-padding">
        <div class="container row p-0 m-0">
            <div class="col-10">
                <h2 class="text-primary">Forum Posts</h2>
            </div>
            <div class="col-12 border p-3 mt-3">
                <form method="post">
                    @if (Model.forumPosts.Count() > 0)
                    {
                        <table class="table table-striped border">
                            <tr class="table-secondary">
                                <th>
                                    No.
                                </th>
                                <th>
                                    Title
                                </th>

                                <th>
                                    Category
                                </th>
                                <th>
                                    Content
                                </th>
                                <th>

                                </th>
                            </tr>
                            @{
                                var i = 1;
                            }
                            @foreach (var forum in Model.forumPosts)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td><a asp-page="Details" asp-route-id="@forum.forumPostID">@Html.DisplayFor(m => forum.forumTitle)</a></td>
                                    <td>
                                        @Html.DisplayFor(m => forum.forumContent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => forum.forumCategory.forumCategory)
                                    </td>

                                    <td>
                                        <div class="px-3">
                                            <button asp-page-handler="Delete" asp-route-id="@forum.forumPostID" onclick="return confirm('Are you sure you want to delete?')"
                                        class="btn btn-danger btn-sm">
                                                Delete
                                            </button>
                                        </div>
                                        <div class="px-3">
                                            <a asp-page="Edit" asp-route-id="@forum.forumPostID" class="btn btn-success btn-sm text-white">Edit</a>
                                        </div>
                                            
                                    </td>
                                </tr>
                                i++;
                            }
                        </table>
                    }
                    else
                    {
                        <p>No Forum Posts Created</p>
                    }
                </form>
            </div>
            <div class="px-2">
                <div class="col-4">
                    <a asp-page="Create" class="btn btn-primary btn-sm text-white">Create New Post</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {

        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser"))
    {

        Response.Redirect("/advertiserLanding");
    }
    else
    {
        Response.Redirect("/Index");
    }
}
