@page
@model VINES.Pages.Status.IndexModel
@{
}
 <form method="post">
     <table class="table">
         <thead>
             <tr>
                 <th>
                     Name
                 </th>
                 <th>
                     Email
                 </th>
                 <th>
                     Role
                 </th>
                 <th>
                    Access Status (if blocked)
                 </th>
             </tr>
         </thead>
         <tbody>
             @for (var i = 0; i < Model.users.Count(); i++)
             {
                 <tr>
                     <td>
                         <input type="hidden" class="userID" asp-for="@Model.users[i].userID"/>
                         <input type="text" class="email" asp-for="@Model.users[i].firstName"/>
                     </td>
                     <td>
                         <input type="text" class="email" asp-for="@Model.users[i].email"/>
                     </td>
                     <td>
                         <input type="text" class="email" asp-for="@Model.users[i].roleID"/>
                     </td>
                     <td>
                         <input type="checkbox" class="chk" asp-for="@Model.users[i].isBlocked" data-id="@Model.users[i].userID" />
                     </td>
                 </tr>
             }
         </tbody>
     </table>
     <input type="submit" value="Submit" />
     </form>