@page
@model VINES.Pages.Status.IndexModel
@{
    ViewData["Title"] = "User Status";
}
<div class="blog-page area-padding">
    <h2 class="text-primary">User Status</h2>
    <div class="container row">
    
    <div class="scroll-auto">
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Role
                        </th>
                        <th style="text-align:center">
                            Access Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.users.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" class="userID" asp-for="@Model.users[i].userID" />
                            </td>
                            <td>
                                <label type="text" class="email" asp-for="@Model.users[i].email" readonly>@Model.users[i].email</label>
                            </td>
                            <td>
                                <label type="text" class="role" asp-for="@Model.users[i].role.role" readonly>@Model.users[i].role.role</label>
                            </td>
                            <td style="text-align:center">
                                <input type="checkbox" class="chk" asp-for="@Model.users[i].isBlocked" data-id="@Model.users[i].userID" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-success" value="Update">Update</button>
            </form>
            </div>
            </div>
            
        
    
</div>