@page
@model VINES.Pages.adminLandingModel
@using CommunityPosts
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "adminLanding";
}

@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{

    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">

                <h1 style="font-size: x-large;"><b>Dashboard</b></h1>

                <section id="counts" class="counts section-bg">
                    <div class="container">

                        <div class="row justify-content-end">

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showSources">
                                <br>
                                <h1>@Model.sources.Count</h1>
                                <h5>News Sources</h5>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showInstitutions">
                                <br>
                                @*<h1>@Model.Roles.1.Count</h1>*@
                                <h5>Number of Patients</h5>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showVaccines">
                                <br>
                                @*<h1>@Model.Advertisers.Count</h1>*@
                                <h5>Number of Advertisers</h5>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center">
                                <br>
                                <h1>87</h1>
                                <h5>Recommendations Given</h5>


                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="px-2">

                <h1 style="font-size: x-large;"><b>Diseases</b></h1>
                <div class="row">
                    <!-- End single blog -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-text">
                                <div class="scroll-auto">
                                    <table class="table table-striped table-hover">

                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Name</th>
                                                <th>Notes</th>
                                                <th>Date Added</th>
                                                <th>Date Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var ic = 1;
                                            }
                                            @foreach (var diseases in Model.disease)
                                            {
                                                <tr>
                                                    <td>@ic</td>
                                                    <td>@diseases.diseaseName</td>
                                                    <td>@diseases.notes</td>
                                                    <td>@diseases.dateAdded</td>
                                                    <td>@diseases.dateModified</td>
                                                    <td>
                                                        <input type="hidden" name="id" id="id" value="@diseases.diseaseID" />
                                                    </td>
                                                </tr>
                                                ic++;
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <h1 style="font-size: x-large;"><b>Institutions</b></h1>
            <div class="row">
                <!-- End single blog -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-text">
                            <form method="post">
                                <div class="scroll-auto">
                                    @if (Model.institutions.Count() > 0)
                                    {
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        No.
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Notes
                                                    </th>
                                                </tr>
                                            </thead>
                                            @{
                                                var ib = 1;
                                            }
                                            @foreach (var institution in Model.institutions)
                                            {
                                                <tr>
                                                    <td>
                                                        @ib
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => institution.institutionType.institutionType)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => institution.institutionName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => institution.notes)
                                                    </td>

                                                </tr>
                                                ib++;
                                            }
                                        </table>
                                    }
                                    else
                                    {
                                        <p>No institutions yet</p>
                                    }
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>



            <h1 style="font-size: x-large;"><b>Vaccines</b></h1>
            <div class="row">
                <!-- End single blog -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-text">
                            <div class="scroll-auto">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Disease</th>
                                            <th>Vaccine</th>
                                            <th>Notes</th>
                                            <th>Date Added</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var ia = 1;
                                        }
                                        @foreach (var vaccine in Model.vaccines)
                                        {
                                            <tr>
                                                <td>@ia</td>
                                                <td>@vaccine.disease.diseaseName</td>
                                                <td>@vaccine.vaccineName</td>
                                                <td>@vaccine.notes</td>
                                                <td>@vaccine.dateAdded</td>
                                                <td>

                                                    <input type="hidden" name="id" id="id" value="@vaccine.vaccineID" />
                                                </td>
                                            </tr>
                                            ia++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- dashboard modals -->


}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {

        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser"))
    {

        Response.Redirect("/advertiserLanding");
    }
    else
    {
        Response.Redirect("/Index");
    }

}