@page
@model VINES.Pages.advertiserLandingModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "advertiserLanding";

}
<style>
    .btn-buy {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 4px;
        color: #001b66;
        transition: none;
        font-size: 14px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
        border: 2px solid #001b66;
    }

</style>

@if ((await AuthorizationService.AuthorizeAsync(User, "AdvertiserOnly")).Succeeded)
{
    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">


                <h1 style="font-size: x-large;"><b>Top Level Summary</b></h1>

                <section id="counts" class="counts section-bg">
                    <div class="container">

                        <div class="row justify-content-end">



                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showSources">
                                <br>
                                <h1>@Model.active.Count</h1>
                                <p>Advertisements Active</p>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showInstitutions">
                                <br>
                                <h1>@Model.inactive.Count</h1>
                                <p>Advertisements Inactive</p>

                            </div>
                       
                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showPatients">
                                <br>
                                <h1>@Model.advertisement.Count</h1>
                                <p>Advertisements</p>

                            </div>

                             @{
                                decimal x = 0;
                            }
                            @foreach (var ar in Model.adr)
                            {
                                x += ar.price;
                            }
                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showAdvertisers">
                                <br>
                                <h1>&#8369;@x</h1>
                                <p>Billing Statement (Total)</p>

                            </div>


                        </div>

                    </div>
                </section>
            </div>

            <div class="blog-page area-padding">
                <h1 style="font-size: x-large;"><b>Advertising Information</b></h1>
                <div class="row">
                    <!-- End single blog -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-text">

                                <form method="post" enctype="multipart/form-data">
                                    @Html.ValidationMessage("Error", new { @style="color:red" })
                                    @Html.ValidationMessage("Success", new { @style="color:green" })
                                    <div class="scroll-auto">

                                        <table class="table table-striped border">
                                            <tr class="table-secondary">
                                                <th> <label asp-for="Ad.advertisementTitle">Advertisement Title</label> </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" asp-for="Ad.advertisementTitle" required>
                                                </td>

                                            </tr>


                                            <tr class="table-secondary">
                                                <th><label asp-for="Ad.url">URL Destination</label> </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" asp-for="Ad.url" required>
                                                </td>
                                            </tr>

                                            <tr class="table-secondary">
                                                <th> <label asp-for="Ad.advertisementTypeID">Advertisement Type </label> </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select asp-for="Ad.advertisementTypeID" class="form-control" required>
                                                        @foreach (var adcat in Model.AdTypes)
                                                        {
                                                            <option value="@adcat.advertisementTypeID">@adcat.advertisementType</option>
                                                        }

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr class="table-secondary">
                                                <th><label asp-for="Photo">Banner Image </label> </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="file" class="form-control" accept="image/png, image/gif, image/jpeg" asp-for="Photo" required />

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="px-2">
                                        <input type="submit" style="color:#001b66" class="btn-buy" />
                                    </div>
                                </form>
                                <br />
                                <br />
                            </div>
                        </div>



                        <div class="blog-text">
                            <h1 style="font-size: x-large;"><b>Advertisements</b></h1>
                            <div class="scroll-auto">
                                <table class="table table-striped border">
                                    <thead>
                                        <tr>
                                            <th>Title:</th>
                                            <th>Image Banner:</th>
                                            <th>Price:</th>
                                            <th>Status:</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var advert in Model.Ads)
                                        {
                                            <tr>

                                                <td><center>@advert.advertisementTitle</center></td>
                                                <td>
                                                    <a href="@advert.url">
                                                        <img src="/images/@advert.imgsrc" width="400" height="100" style="object-fit: contain">
                                                    </a>
                                                </td>
                                                <td>@advert.advertisementType.price</td>

                                                @if (advert.endDate > DateTime.UtcNow)
                                                {

                                                    <td> @Html.Raw("Status: Active")</td>


                                                }
                                                else
                                                {
                                                    <td>

                                                        @Html.Raw("Status: Inactive")
                                                        <div class="px-2">
                                                            <form asp-page-handler="checkout" method="post">
                                                                <input type="hidden" name="total" value="@advert.advertisementType.price" />
                                                                <input type="hidden" name="id" value="@advert.advertisementID" />
                                                                <button style="color:#001b66" class="btn-buy">Subscribe</button>

                                                            </form>
                                                        </div>
                                                    </td>

                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- End Blog Page -->
    <!-- dashboard modals -->

    <div class="modal fade" id="newsSources">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Advertisements Active</h4>
                </div>
                <div class="modal-body">
                    <div class="scroll-auto">
                        @if (Model.active.Count() > 0)
                        {
                            <table class="table table-striped border">
                                <tr class="table-secondary">
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        Advertisement ID
                                    </th>
                                    <th>
                                        Advertisement Title
                                    </th>
                                    <th>
                                        Advertisement End Date
                                    </th>
                                </tr>
                                @{
                                    var i = 1;
                                }
                                @foreach (var ads in Model.active)
                                {
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => ads.advertisementID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => ads.advertisementTitle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => ads.endDate)
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </table>
                        }
                        else
                        {
                            <p>No Advertisements active yet. </p>
                        }
                    </div>
                    <br />
                    <input type="button" class="btn btn-secondary" id="hideSources" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="institutions">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Advertisements Inactive</h4>
                </div>
                <div class="modal-body">
                    <div class="scroll-auto">
                        @if (Model.inactive.Count() > 0)
                        {
                            <table class="table table-striped border">
                                <tr class="table-secondary">
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        Advertisement ID
                                    </th>
                                    <th>
                                        Advertisement Title
                                    </th>

                                </tr>
                                @{
                                    var ia = 1;
                                }
                                @foreach (var advertisement in Model.inactive)
                                {
                                    <tr>
                                        <td>
                                            @ia
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => advertisement.advertisementID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => advertisement.advertisementTitle)
                                        </td>
                                    </tr>
                                    ia++;
                                }
                            </table>
                        }
                        else
                        {
                            <p>No Advertisements inactive. </p>
                        }
                    </div>
                    <br />
                    <input type="button" class="btn btn-secondary" id="hideInstitutions" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="advertisers">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Total Cost of Ads</h4>
                </div>
                <div class="modal-body">
                    <div class="scroll-auto">

                        <table class="table table-striped border">
                            <tr class="table-secondary">
                                <th>
                                    No.
                                </th>
                                <th>
                                    Advertisement ID
                                </th>
                                <th>
                                    Advertisement Title
                                </th>
                                <th>
                                    Payment ID
                                </th>
                                <th>
                                    Advertisement Price
                                </th>
                                <th>
                                    Date Paid
                                </th>
                            </tr>
                            @{
                                var ib = 1;
                            }
                            @foreach (var advertisement in Model.adr)
                            {

                                <tr>
                                    <td>
                                        @ib
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.advertisementID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.advertisement.advertisementTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.paymentID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.dateCreated)
                                    </td>
                                </tr>
                                ib++;
                            }
                        </table>

                    </div>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideAdvertisers" value="Hide" />
                </div>
            </div>
        </div>
    </div>
    @*
    <div class="modal fade" id="patient">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">List of Advertisements</h4>
                </div>
                <div class="modal-body">
                    <div class="scroll-auto">
                        @if (Model.advertisement.Count() > 0)
                        {
                        <table class="table table-striped border">
                            <tr class="table-secondary">
                                <th>
                                    No.
                                </th>
                                <th>
                                    Advertisement ID
                                </th>
                                <th>
                                    Advertisement Title
                                </th>
                                <th>
                                    Payment ID
                                </th>
                                <th>
                                    Advertisement Price
                                </th>
                                <th>
                                    Date Paid
                                </th>
                            </tr>
                            @{
                                var ic = 1;
                            }
                            @foreach (var advertisement in Model.advertisement)
                            {

                                <tr>
                                    <td>
                                        @ic
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.advertisementID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.advertisement.advertisementTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.paymentID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => advertisement.dateCreated)
                                    </td>
                                </tr>
                                ic++;
                            }
                        </table>
                         }
                        else
                        {
                            <p>No Advertisements yet. </p>
                        }
                    </div>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideAdvertisers" value="Hide" />
                </div>
            </div>
        </div>
    </div>
    *@

}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {
        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        Response.Redirect("/adminLanding");
    }
    else
    {
        Response.Redirect("/Index");
    }
}

