@page
@model VINES.Pages.advertiserLandingModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "advertiserLanding";
}
<style>
    .btn-buy {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 4px;
        color: #001b66;
        transition: none;
        font-size: 14px;
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
        border: 2px solid #001b66;
    }

</style>

@if ((await AuthorizationService.AuthorizeAsync(User, "AdvertiserOnly")).Succeeded)
{
    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">


                <h1 style="font-size: x-large;"><b>Top Level Summary</b></h1>

                <section id="counts" class="counts section-bg">
                    <div class="container">

                        <div class="row justify-content-end">



                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showAdvertisements">
                                <br>
                                <h1>0</h1>
                                <p>Advertisements Active</p>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showInteractions">
                                <br>
                                <h1>160</h1>
                                <p>Interactions per Day</p>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showMCost">
                                <br>
                                <h1>&#8369;1,000</h1>
                                <p>Monthly cost on ads</p>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showTCost">
                                <br>
                                <h1>&#8369;7,500</h1>
                                <p>Total Expenses spent on Ads</p>

                            </div>


                        </div>

                    </div>
                </section>
            </div>

            <div class="blog-page area-padding">
                <h1 style="font-size: x-large;"><b>Advertising Information</b></h1>
                <div class="row">
                    <!-- End single blog -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="blog-text">

                                <form method="post" enctype="multipart/form-data">
                                    <div class="scroll-auto">
                                        <table class="table table-striped border">
                                            <tr class="table-secondary">
                                                <th>Advertisement Name </th>
                                            </tr>
                                            <tr><td><input type="text" asp-for="Ad.advertisementTitle" required /></td></tr>
                                            <tr class="table-secondary">
                                                <th>URL Destination </th>
                                            </tr>
                                            <tr>
                                                <td><input type="text" asp-for="Ad.url" required /></td>
                                            </tr>
                                            <tr class="table-secondary">
                                                <th>Ad Type </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select asp-for="Ad.advertisementTypeID" required>
                                                        @foreach (var adcat in Model.AdTypes)
                                                        {
                                                            <option value="@adcat.advertisementTypeID">@adcat.advertisementType</option>
                                                        }

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr class="table-secondary">
                                                <th>Image </th>
                                            </tr>
                                            <tr>
                                                <td><input type="file" accept="image/png, image/gif, image/jpeg" asp-for="Photo" required /></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <input type="submit" style="color:#001b66" class="btn-buy" />
                                </form>
                                <br />
                                <br />
                            </div>
                        </div>



                        <div class="blog-text">
                            <h1 style="font-size: x-large;"><b>Advertisements</b></h1>
                            <div class="scroll-auto">
                                <table class="table table-striped border">
                                    <thead>
                                        <tr>
                                            <th>Title:</th>
                                            <th>Image Banner:</th>
                                            <th>Price:</th>
                                            <th>Status:</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var advert in Model.Ads)
                                        {
                                       <tr>

                                       <td>@advert.advertisementTitle</td>
                                                <td>
                                                    <a href="@advert.url">
                                                        <img src="/images/@advert.imgsrc" width="400" height="100" style="object-fit: contain">
                                                    </a>
                                                </td>
                                                <td>@advert.advertisementType.price</td>

                                            @if(advert.endDate > DateTime.UtcNow)
                                                {
                                                
                                               <td> @Html.Raw("Status: Active")</td>
                                                

                                                }
                                            else
                                                {
                                               <td>

                                                   @Html.Raw("Status: Inactive")
                                                    <form asp-page-handler="checkout" method="post">
                                                        <input type="hidden" name="total" value="@advert.advertisementType.price" />
                                                        <input type="hidden" name="id" value="@advert.advertisementID" />
                                                        <button style="color:#001b66" class="btn-buy">Subscribe</button>

                                                    </form>
                                                
                                               </td>

                                                }
                                           </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- End Blog Page -->
    <!-- dashboard modals -->

    <div class="modal fade" id="showAdvertisements">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Advertisements Active</h4>
                </div>
                <div class="modal-body">

                    <p></p>
                    <p></p>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideAdvertisements" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showInteractions">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Interactions per Day</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                    <p></p>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideInteractions" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showMCost">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Monthly cost on Ads</h4>
                </div>
                <div class="modal-body">

                    <p></p>
                    <p></p>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideMCost" value="Hide" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {
        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        Response.Redirect("/adminLanding");
    }
    else
    {
        Response.Redirect("/Index");
    }
}

