@page
@model VINES.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Diagnostics
@using VINES.Models
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Home page";
}

@if (@User.Identity.IsAuthenticated == false)
{

    <partial name="_CookieConsentPartial" />
    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">

                <h1 style="font-size: x-large;"><b>Advertisement</b></h1>
                @if (Model.ads.Count > 0)
                {
                    <form method="post" asp-page-handler="Ad">
                        <input type="hidden" name="id" value="@Model.ads[Model.rnd].advertisementID" />
                        <input type="image" id="image" alt="Login" src="~/images/@Model.ads[Model.rnd].imgsrc" height="300px" width="100%">
                    </form>
                }
                <br />
                <br />
                <div class="blog-page area-padding">
                    <h1 style="font-size: x-large;"><b>Dashboard</b></h1>

                    <section id="counts" class="counts section-bg">
                        <div class="container">

                            <div class="row justify-content-end">

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showSources">
                                    <br>
                                    <h1>@Model.Sources.Count</h1>
                                    <h5>News Sources</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showInstitutions">
                                    <br>
                                    <h1>@Model.Institutions.Count</h1>
                                    <h5>Institutions in database</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showVaccines">
                                    <br>
                                    <h1>@Model.Vaccines.Count</h1>
                                    <h5>Vaccines in database</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center">
                                    <br>
                                    <h1>87</h1>
                                    <h5>Recommendations generated</h5>

                                </div>

                            </div>

                        </div>
                    </section>
                </div>
                <br />
                <br />

                <h1 style="font-size: x-large;"><b>News and Updates</b></h1>
                <br />
                <br />
                <div class="row">
                    <div>
                    </div>
                    <!-- Pagination -->
                    <ul class="pagination">
                        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                            <a asp-page="/Index" asp-route-p="@(Model.PageNo -1)" class="page-link"> &#8249; </a>
                        </li>

                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.PageNo ? "active" : "")">
                                <a asp-page="/Index" asp-route-p="@i" class="page-link">@i</a>
                            </li>
                        }
                        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                            <a asp-page="/Index" asp-route-p="@(Model.PageNo + 1)" class="page-link"> &#8250; </a>
                        </li>
                    </ul>
                    <br />
                    <br />

                    <!-- Pagination -->
                    @foreach (var webpage in Model.WebPages)
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="single-blog">
                                <div class="blog-text">
                                    <h5>
                                        <a href="@webpage.webURL">@webpage.pageTitle</a>
                                    </h5>
                                    <div class="blog-meta">
                                        <span class="date-type">
                                            <i class="bi bi-calendar"></i>@webpage.uploadDate
                                        </span>
                                    </div>
                                    <p>
                                        @webpage.summary
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Pagination -->
                    <ul class="pagination">
                        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                            <a asp-page="/Index" asp-route-p="@(Model.PageNo -1)" class="page-link"> &#8249; </a>
                        </li>
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.PageNo ? "active" : "")">
                                <a asp-page="/Index" asp-route-p="@i" class="page-link">@i</a>
                            </li>
                        }
                        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                            <a asp-page="/Index" asp-route-p="@(Model.PageNo + 1)" class="page-link"> &#8250; </a>
                        </li>
                    </ul>
                    <!-- Pagination -->
                </div>
                <br />
                <br />

                <div class="blog-page area-padding">
                    <h5><b>Institution Map</b></h5>
                    <div id="vaxMap"></div>
                </div>
                <br>
                <br>
                <div class="single-blog-page">
                    <div class="left-blog">
                        <h4>COMMUNITY POSTS</h4>
                        <div class="recent-post">
                            @foreach (var com in Model.CommunityPosts)
                            {
                                <div class="recent-single-post">
                                    <div class="post-img">

                                        <img src="assets/img/VINESii.png" style="max-width:200px">
                                    </div>
                                    <div class="pst-content">

                                        <p style="strong">@com.communityPostTitle</p>
                                        <br />
                                        <p>@com.communityPostContent</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- End Blog Page -->
    <!-- modal -->
    <div class="modal fade" id="newsSources">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News Sources</h4>
                </div>
                <div class="modal-body">
                    <center>
                        @foreach (var source in Model.Sources)
                        {
                            <a href="@source.sourcesURI">@source.sourceName</a>
                        }
                    </center>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideSources" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vaccines">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vaccines in database</h4>
                </div>
                <div class="modal-body">
                    <table style="width:100%">
                        <tr>
                            <td>Vaccine</td>
                            <td>Disease</td>
                            <td>Description</td>
                        </tr>
                        @foreach (var vaccine in Model.Vaccines)
                        {
                            <tr>
                                <td>@vaccine.vaccineName</td>
                                <td>@vaccine.disease.diseaseName</td>
                                <td>@vaccine.notes</td>
                            </tr>
                        }
                    </table>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideVaccines" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="institutions">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Institutions in database</h4>
                </div>
                <div class="modal-body">
                    <table style="width:100%">
                        <tr>
                            <td>Institution Name</td>
                            <td>Address</td>
                        </tr>
                        @foreach (var institution in Model.Institutions)
                        {
                            <tr>
                                <td>@institution.institutionName</td>
                                <td>@institution.notes</td>
                            </tr>
                        }
                    </table>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideInstitutions" value="Hide" />
                </div>
            </div>
        </div>
    </div>





    <script>

        if (Notification.permission === "granted") {
            // showNotification("Welcome to VINES!", "Hope you are having a nice day!");
        } else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(permission => {
                if (permission === "granted") {
                    showNotification();
                }
            });
        }

    </script>
}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {

        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser"))
    {

        Response.Redirect("/advertiserLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        Response.Redirect("/adminLanding");
    }
}

<script>
    initializeMap();
    getLocation();
</script>

@foreach (var inst in Model.Institutions)
{
    <script>
        var z = "@inst.institutionName".replace('&#xD;&#xA;', '');
        var i = "@inst.notes".replace('&#xD;&#xA;', '');
        addMarker(@inst.lat, @inst.Long, z, i);
    </script>
}





