@page
@model patientLandingModel
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using System.Diagnostics
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "patientLanding";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- ======= Blog Page ======= -->
<div class="blog-page area-padding">
    <div class="container">
        <div class="row">

            @if (!Model.patient.isSubscribed)
            {

                <h1 style="font-size: x-large;"><b>Advertisement</b></h1>
                @if (Model.ads.Count > 0)
                {
                    <form method="post" asp-page-handler="Ad">
                        <input type="hidden" name="id" value="@Model.ads[Model.rnd].advertisementID" />
                        <input type="image" id="image" alt="Login" src="~/images/@Model.ads[Model.rnd].imgsrc" height="300px" width="100%">
                    </form>
                }
            }
            <div class="blog-page area-padding">
                <h1 style="font-size: x-large;"><b>Dashboard</b></h1>

                <section id="counts" class="counts section-bg">
                    <div class="container">

                        <div class="row justify-content-end">

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showSources">
                                <br>
                                <h1>@Model.Sources.Count</h1>
                                <p>News Sources</p>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showInstitutions">
                                <br>
                                <h1>@Model.Institutions.Count</h1>
                                <p>Institutions in database</p>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showVaccines">
                                <br>
                                <h1>@Model.Vaccines.Count</h1>
                                <p>Vaccines in database</p>

                            </div>

                            <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center">
                                <br>
                                <h1>87</h1>
                                <p>Recommendations generated</p>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br />
            <br />



            <h1 style="font-size: x-large;"><b>News and Updates</b></h1>
            <br />
            <br />
            <div class="row">
                <div>
                </div>
                <!-- Pagination -->
                <div class="scroll-auto">
                    <ul class="pagination">
                        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                            <a asp-page="/Index" asp-route-p="@(Model.PageNo -1)" class="page-link"> &#8249; </a>
                        </li>
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.PageNo ? "active" : "")">
                                <a asp-page="/patientLanding" asp-route-p="@i" class="page-link">@i</a>
                            </li>
                        }
                        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                            <a asp-page="/patientLanding" asp-route-p="@(Model.PageNo + 1)" class="page-link"> &#8250; </a>
                        </li>
                    </ul>
                    <br />
                    <br />

                    <!-- Pagination -->
                    @foreach (var webpage in Model.WebPages)
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="single-blog">
                                <div class="blog-text">
                                    <h5>
                                        <a href="@webpage.webURL">@webpage.pageTitle</a>
                                    </h5>
                                    <div class="blog-meta">
                                        <span class="date-type">
                                            <i class="bi bi-calendar"></i>@webpage.uploadDate
                                        </span>
                                    </div>
                                    <p>
                                        @webpage.summary
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                    <br />
                    <!-- Pagination -->
                    <ul class="pagination">
                        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                            <a asp-page="/patientLanding" asp-route-p="@(Model.PageNo -1)" class="page-link"> &#8249; </a>
                        </li>
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.PageNo ? "active" : "")">
                                <a asp-page="/Index" asp-route-p="@i" class="page-link">@i</a>
                            </li>
                        }
                        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                            <a asp-page="/patientLanding" asp-route-p="@(Model.PageNo + 1)" class="page-link"> &#8250; </a>
                        </li>
                    </ul>
                </div>
                <br />
                <br />
            </div>


            <div class="blog-page area-padding">
                <h5><b>Institutions Near You</b></h5>
                <div id="vaxMap"></div>
            </div>
            <br />
            <br />

            <!-- Community Posts. -->
            <div class="single-blog-page">
                <div class="left-blog">
                    <h4>COMMUNITY POSTS</h4>
                    <div class="recent-post">
                        @foreach (var com in Model.CommunityPosts)
                        {
                            <div class="recent-single-post">
                                <div class="pst-content">

                                    <p>@com.communityPostTitle</p>
                                    <br />
                                    <p>@com.communityPostContent</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div> <!-- End community posts. -->
        </div>
    </div>
</div>


<!-- End Blog Page -->
<!-- dashboard modals -->

<div class="modal fade" id="newsSources">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">News Sources</h4>
            </div>
            <div class="modal-body">
                @if (Model.Sources.Count() > 0)
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                No.
                            </th>
                            <th>
                                Name
                            </th>
                        </tr>
                        @{
                            var i = 1;
                        }
                        @foreach (var sources in Model.Sources)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(m => sources.sourceName)
                                </td>
                            </tr>
                            i++;
                        }
                    </table>
                }
                else
                {
                    <p>No sources yet.</p>
                }
                <br>
                <input type="button" class="btn btn-secondary" id="hideSources" value="Hide" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="institutions">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Institutions in database</h4>
            </div>
            <div class="modal-body">
                @if (Model.Institutions.Count() > 0)
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                No.
                            </th>
                            <th>
                                Name
                            </th>
                        </tr>
                        @{
                            var ia = 1;
                        }
                        @foreach (var institution in Model.Institutions)
                        {
                            <tr>
                                <td>
                                    @ia
                                </td>
                                <td>
                                    @Html.DisplayFor(m => institution.institutionName)
                                </td>
                            </tr>
                            ia++;
                        }
                    </table>
                }
                else
                {
                    <p>No institutions yet</p>
                }
                <br>
                <input type="button" class="btn btn-secondary" id="hideInstitutions" value="Hide" />
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vaccines">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vaccines in database</h4>
            </div>
            <div class="modal-body">
                @if (Model.Vaccines.Count() > 0)
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                No.
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Vaccine For
                            </th>
                        </tr>
                        @{
                            var ib = 1;
                        }
                        @foreach (var vaccines in Model.Vaccines)
                        {
                            <tr>
                                <td>
                                    @ib
                                </td>
                                <td>
                                    @Html.DisplayFor(m => vaccines.vaccineName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => vaccines.disease.diseaseName)
                                </td>
                            </tr>
                            ib++;
                        }
                    </table>
                }
                else
                {
                    <p>No Vaccines yet.</p>
                }
                <input type="button" class="btn btn-secondary" id="hideVaccines" value="Hide" />
            </div>
        </div>
    </div>
</div>

<script>
    initializeMap();
    getLocation();
</script>
@foreach (var inst in Model.Institutions)
{
    <script>
        var z = "@inst.institutionName".replace('&#xD;&#xA;', '');
        var i = "@inst.notes".replace('&#xD;&#xA;', '');
        addMarker(@inst.lat, @inst.Long, z, i);
    </script>
}




                    <form method="post">
                        
                        <p>Preferred Vaccine Brand</p>
                        <select asp-for="vax">
                            @foreach(var vax in Model.Vaccines){
                                <option value = "@vax.vaccineID">@vax.vaccineName</option>
                            }
                        </select>
                        <br />
                        <br />
                        <p>Budget</p>
                        <input type="range" asp-for="budget" value="0" min="0" max="@Model.maxVax" oninput="this.nextElementSibling.value = 'Php ' + this.value">
                        <output>Php 0</output>
                        <input type="submit" value="Create Vaccine Preference" class="btn btn-pill text-white btn-block btn-primary">
                    </form>