@page
@model patientLandingModel
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using System.Diagnostics
@inject IAuthorizationService AuthorizationService
@{
  ViewData["Title"] = "patientLanding";
}


 <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="page-head-blog">
              <br>
              <h5><b>Institutions Near You</b></h5>
              <div id="vaxMap"></div>
              <a href="#">Institutions for you</a>
              <br>
              <br>
              <div class="single-blog-page">
                <!-- recent start -->
                <div class="left-blog">
                  <h4>COMMUNITY POSTS</h4>
                  <div class="recent-post">
                    @foreach(var com in Model.CommunityPosts)
                     {
                     <div class="recent-single-post">
                      <div class="post-img">

                          <img src="assets/img/VINESii.png" alt="">
                      </div>
                      <div class="pst-content">
                          
                        <p>@com.communityPostTitle</p>
                        <br />
                        <p>@com.communityPostContent</p>
                      </div>
                    </div>
                    }
                  </div>
                </div>
                <!-- recent end -->
              </div>
             @* <div class="single-blog-page">
                <div class="left-blog">
                  <h4>archive</h4>
                  <ul>
                    <li>
                      <a href="#">07 July 2016</a>
                    </li>
                    <li>
                      <a href="#">29 June 2016</a>
                    </li>
                    <li>
                      <a href="#">13 May 2016</a>
                    </li>
                    <li>
                      <a href="#">20 March 2016</a>
                    </li>
                    <li>
                      <a href="#">09 Fabruary 2016</a>
                    </li>
                  </ul>
                </div>
              </div> 
              *@
            </div>
          </div>
          <!-- End left sidebar -->
          <!-- Start single blog -->
          <div class="col-md-8 col-sm-8 col-xs-12">
            <h1 style="font-size: x-large;"><b>Dashboard</b></h1>

                    <section id="counts" class="counts section-bg">
                        <div class="container">

                            <div class="row justify-content-end">

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showSources">
                                    <br>
                                    <h1>@Model.Sources.Count</h1>
                                    <h5>News Sources</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showInstitutions">
                                    <br>
                                    <h1>@Model.Institutions.Count</h1>
                                    <h5>Institutions in database</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showVaccines">
                                    <br>
                                    <h1>@Model.Vaccines.Count</h1>
                                    <h5>Vaccines in database</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center">
                                    <br>
                                    <h1>87</h1>
                                    <h5>Recommendations generated</h5>

                                </div>

                            </div>

                        </div>
                    </section>

                                <h1 style="font-size: x-large;"><b>News and Updates</b></h1>
                    <div class="row">
                        <div>
                            
                </div>
                <!-- Pagination -->
                <ul class="pagination">
                    <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                        <a asp-page="/Index" asp-route-p="@(Model.PageNo -1)" class="page-link"> &#8249; </a>
                    </li>
                @for(var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageNo ? "active" : "")">
                            <a asp-page="/Index" asp-route-p="@i" class="page-link">@i</a>
                        </li>
                    }
                    <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                        <a asp-page="/Index" asp-route-p="@(Model.PageNo + 1)" class="page-link"> &#8250; </a>
                    </li>
                </ul>

                <!-- Pagination -->
                
              @foreach(var webpage in Model.WebPages)
              {
                    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <h5>
                      <a href="@webpage.webURL">@webpage.pageTitle</a>
                    </h5>
                    <div class="blog-meta">
                      <span class="date-type">
                        <i class="bi bi-calendar"></i>@webpage.uploadDate
                      </span>
                    </div>
                    <p>
                      @webpage.summary
                    </p>
                  </div>
                </div>
              </div>
              }
                    <!-- Pagination -->
                <ul class="pagination">
                    <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                        <a asp-page="/Index" asp-route-p="@(Model.PageNo -1)" class="page-link"> &#8249; </a>
                    </li>
                @for(var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageNo ? "active" : "")">
                            <a asp-page="/Index" asp-route-p="@i" class="page-link">@i</a>
                        </li>
                    }
                    <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                        <a asp-page="/Index" asp-route-p="@(Model.PageNo + 1)" class="page-link"> &#8250; </a>
                    </li>
                </ul>

                <!-- Pagination -->
              <!-- Start single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <h5>
                      <a href="#">Vaccine Preferences</a>
                    </h5>
                    <table style="width:100%">
                      <tr>
                        <th colspan="2">Vaccine For</th>
                        <th colspan="2">Vaccine Name</th>
                        <th colspan="2">Budget</th>
                        <th colspan="2">Settings</th>
                      </tr>
                      <tr>
                        <td colspan="2">COVID-19</td>
                        <td colspan="2">Oxford-AstraZeneca</td>
                        <td colspan="2">&#8369;2,500</td>
                        <td colspan="2"><a href="#">Update</a>/<a href="#">Delete</a></td>
                      </tr>
                    </table>
                  </div>
                  <span>
                    <a href="#" class="ready-btn">Add new</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Page -->


    <!-- dashboard modals -->

    <div class="modal fade" id="newsSources">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">News Sources</h4>
                </div>
                <div class="modal-body">
                    @foreach (var source in Model.Sources)
                    {
                        <a href="@source.sourcesURI">@source.sourceName</a>
                    }
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideSources" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vaccines">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vaccines in database</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td >Vaccine</td>
                            <td >Disease</td>
                            <td >Description</td>
                        </tr>
                        @foreach (var vaccine in Model.Vaccines)
                        {
                            <tr>
                                <td>@vaccine.vaccineName</td>
                                <td>@vaccine.disease.diseaseName</td>
                                <td>@vaccine.notes</td>
                            </tr>
                        }
                    </table>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideVaccines" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="institutions">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Institutions in database</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td >Institution Name</td>
                            <td >Address</td>
                        </tr>
                        @foreach (var institution in Model.Institutions)
                        {
                            <tr>
                                <td>@institution.institutionName</td>
                                <td>@institution.notes</td>
                            </tr>
                        }
                    </table>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideInstitutions" value="Hide" />
                </div>
            </div>
        </div>
    </div>

<script>
initializeMap();
getLocation();
</script>