@page
@model VINES.Pages.UserStatusModel
@{
    ViewData["Title"] = "User Status Page";
    Layout = "_LayoutAdmin";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Community Post</title>
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var users in Model.Users)
            {
                <tr>
                    <td>@users.userID</td>
                    <td>@users.firstName @users.lastName</td>
                    <td>@users.roleID</td>
                    <td>@users.isBlocked</td>
                    <td>@users.isLocked</td>
                </tr>
            }
        </tbody>
    </table>
</div>
    </body>
</html>